body {
    background-image: url(assets/bloodDonation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card.about-card {
    padding: 0px 0px 0px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    
    color: #404040;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: block;
    font-family: serif;
    text-align: center
}

label.title {
    font-size: 4rem;
}

label.description {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}









body.dashboard-body {
    background-color: #FFF2FF;
}

.container-fluid.dashboard-container {
    margin-top: 2%;
}

.card {
    opacity: 0.75;
}


/*right side stuff*/

.card.profile-card {
    padding: 0px 0px 0px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

label.profile {
    font-size: 2rem;
    color: dimgray;
    margin: auto;
    display: block;
    font-family: serif;
    margin-bottom: 2rem;
}

label.name {
    font-size: 1rem;
    color: dimgray;
    display: block;
    font-family: serif;
    margin-bottom: 1.5rem
}


/*left side stuff*/
img.icon-img {
    padding: 0 0 0; 
    width: 60%;
    margin: auto;
    margin-bottom: 50%;
    display: block;
}

.nav-pills {
    display:block;
}
/*
.nav-pills.nav-link.active {
    color: red;
}
*/



/* middle stuff user*/
.container.hospitals-near-container {
    font-size: 3rem;
    color: dimgray;
    margin: auto;
    display: block;
    font-family: serif;
    margin-bottom: 5rem;
    text-align: center
}

.container.list-hospitals-container {
    color: dimgray;
    margin: auto;
    display: block;
    margin-bottom: 5rem;
}

.container.none-text-container {
    font-size: 1.4rem;
    color: dimgray;
    margin: auto;
    text-align: center;
    display: block;
    font-family: serif;
    width: 60%

}

/* middle stuff hospital */
.container.send-request-container {
    color: dimgray;
    margin: auto;
    margin-top: 5rem;
    text-align: center;
    display: block;
    font-family: serif;
    width: 80%
}

label.send-text {
    font-size: 2rem;
}

label.name-text {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

form.send-request-form {
    margin: auto;
    display: block;
    margin-bottom: 1rem;
}

select.time-select{
    margin: auto;
    display: block;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}